MONGO_URI=mongodb://localhost:27017/blog
PORT=5080
SESS_SECRET=secret
SECURE_COOKIE=0
HOST=https://example.com
REG_REQUIRE_LOGIN=0
BLOG_NAME=⭐️ kh.me.kr ⭐️
BLOG_DEFAULT_TITLE=kh.me.kr
BLOG_DEFAULT_DESC=My personal blog
BLOG_LANG=ko
ASSETS_VER=2026011401
