<ul>
    <template x-for="item in data.posts">
        <!-- Blog Item -->
        <li class="py-6 flex gap-6 border-b border-gray-300 last:border-b-0">
            <div style="min-width:150px" class="hidden sm:block">
                <a class="text-sm text-gray-500 font-semibold" :href-s="/?category={item.category}"
                    x-text="item.category"></a>
            </div>
            <div class="flex-1">
                <p class="block sm:hidden">
                    <a class="text-sm text-gray-500 font-semibold" :href-s="/?category={item.category}"
                    x-text="item.category"></a>
                </p>
                <a class="text-xl font-bold text-gray-900" x-text="item.title" :href-s="/post/{item._id}"></a>

                <div class="mt-4 flex items-center justify-between">
                    <div class="flex items-center gap-3">
                        <img src="/img/user.png" class="w-8 h-8 rounded-full" />
                        <div class="text-sm">
                            <p class="font-semibold text-gray-900" x-text="item.author"></p>
                            <p class="text-gray-500 text-xs"><span x-data x-text="item.createdAt" x-formatted-date></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </template>
</ul>
